@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  background-image: url("images/background.jpg");
  background-size: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar-default{
    background:transparent;
    border-color: transparent;
    margin: 0;
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size:60px;
    margin-top:10px;
}

#navigation{
  height:11%;
}

.search_icon{
  background: transparent;
  border: transparent;
  color: white;
  font-size:20px;
  margin-top: -2px;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 500px;
  height: 400px;
  background:transparent;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

#h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 50px;
  color: white;
  position: relative;
  left:50%;
}
ul{
  padding-top: 10px;
  padding-bottom: 0;
}

#cat {
  color: white;
  padding: 16px;
  padding-top: 0px;
  border: none;
}


#box{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#cat:hover #box{
  display: block;
}

#li{
  font-size:120%;
  font-weight:120%;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}


#li:hover{
  color: white;
  background-color: rgb(190, 177, 177);
}

#search{
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 400px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  position: relative;
  left:60%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

#p{
  color: white;
  position: relative;
  left:20%;
  top:78%;
  font-size: 20px;
  width: 200%;
}
#intro{
  font-family: 'Marcellus SC', serif;
  font-size: 50px;
  color: white;
}
#index{
  color: white;
  font-size: 20px;
}
.carousel-inner .item {
  height: 400px;  
}
.item img{
  width: q500px;
}